<%= form_for([project, list], :remote => true, :html => {:class => 'well'}) do |f|%>
  <div class="field">
    <%= f.label "Create a new list for this project:" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Save list", :class=>"btn btn-primary btn-medium" %>
  </div>
<% end %>
