<table class='table'>
<thead><th>Lists:</th></thead>
<tbody>
<tr>
<% @project.lists.each do |list| %>
<td><%=link_to list.name, project_list_path(@project, list) %></td>
</tr>
</tbody>
<% end %>
</table>
