<tr>
    <td><%=link_to project.name, project %></td>
    <td><%= link_to 'Edit', edit_project_path(project), :class => "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-danger"%></td>
  </tr>